@import "./var";

.react-trello-lane {
  width: $lane-width;
  max-height: $lane-max-height !important;

  background-color: $wrapper-color !important;
  position: $react-trello-lane-position;
  box-shadow: $box-shadow;
  display: $react-trello-lane-display;

  border-radius: $react-trello-lane-border-radius;
  margin: $react-trello-lane-margin;
  margin-top: $react-trello-lane-margin-top;
  padding-bottom: $react-trello-lane-padding-bottom;

  .mcell-task {
    width: $card-width;

    background-color: $item-color;

    padding: $mcell-task-padding;
    margin: $mcell-task-margin;

    border-radius: $mcell-task-border-radius;
    box-shadow: $box-shadow;
    list-style-type: $mcell-task-list-style-type;
    
    .task-name {
      padding-top: $task-name-padding-top;
      margin: $task-name-margin;
      display: $task-name-display;

      font-weight: $task-name-font-weight;
      font-size: $task-name-font-size;

      .icon-delete {
        padding-right: $icon-delete-padding-right;
      }
    }
    .task-detail {
      display: $task-detail-display;
      margin: $task-detail-margin;
      font-weight: $task-detail-font-weight;
      font-size: $task-detail-font-size;
    }
    .task-due {
      display: flex;
      align-items: center;
      
      margin: $task-due-margin;

      font-weight: $task-due-font-weight;
      font-size: $task-due-font-size;
    }
    .icon-dificult {
      width: $icon-dificult-width;
      height: $icon-dificult-height;

      cursor: $icon-dificult-cursor;

      position: $icon-dificult-position;
      bottom: $icon-dificult-bottom;
      float: $icon-dificult-float;
    }
    .number-dificult {
      display: $number-dificult-display;
      padding-left: $number-dificult-padding-left;
    }
    .number-comment {
      display: $number-comment-display;
      padding-left: $number-comment-padding-left;
    }
    .icon-comment {
      padding-left: $icon-comment-padding-left;
    }
  }
}
