@import "./var";
.react-trello-lane {
  .mcell-title::before {
    content: "";
    background: linear-gradient(to right, #c774e9 0%, #dc6a84 100%);
    position: absolute;

    top: -13px;
    width: $lane-width;
    height: 4px;
    left: -11px;

    border-radius: 10px;
  }
}
