@import "./var";

.btn-add {
  background-color: $footer-btn-add-background-color;
  color: $footer-btn-add-color;

  border: $footer-btn-add-color;
  border-radius: $footer-btn-add-border-radius;
  display: $footer-btn-add-display;

  width: $footer-btn-add-width;
  margin: $footer-btn-add-margin;
  padding: $footer-btn-add-padding;
  text-align: $footer-btn-add-text-align;

  cursor: $footer-btn-add-cursor;
  user-select: $footer-btn-add-user-select;
}

.icon-dificult {
  float: $icon-dificult-float;
  width: $icon-dificult-width;
  height: $icon-dificult-height;

  position: $icon-dificult-position;
  bottom: $icon-dificult-bottom;
  cursor: $icon-dificult-cursor;
}
