@import "./var";
.loader {
  position: $loader-position;
  margin: $loader-margin;
  width: $loader-width;
  svg {
    animation: $loader-svg-animation;
    transform-origin: $loader-svg-transform-origin;

    height: $loader-svg-height;
    width: $loader-svg-width;
    margin: $loader-svg-margin;

    position: $loader-svg-position;
    top: $loader-svg-top;
    bottom: $loader-svg-bottom;
    left: $loader-svg-left;
    right: $loader-svg-right;

    circle {
      stroke-dasharray: $loader-svg-circle-stroke-dasharray;
      stroke-dashoffset: $loader-svg-circle-stroke-dashoffset;
      stroke-linecap: $loader-svg-circle-stroke-linecap;
      stroke-width: $loader-svg-circle-stroke-width;
      stroke-miterlimit: $loader-svg-circle-stroke-miterlimit;

      animation: $loader-svg-circle-animation;
    }
  }
}
.loader::before {
  content: $loader-before-content;
  display: $loader-before-display;
  padding-top: $loader-before-padding-top;
}
